body {
    margin: 0;
    background-image: linear-gradient(to bottom, #1e1b4b 0%, #312e81 50%, #1e1b4b 100%);
}

.secondBackground {
    background-image: linear-gradient(to bottom right, #030712 1%, transparent 100%);
    z-index: -1;
}

.navBehavior {
    position: sticky;
    top: 0px;
    backdrop-filter: blur(16px);
    z-index: 50;
    border-bottom: 1px;
}

.aboutBehavior {
    z-index: 1;
}

.skillsBehavior {
    z-index: 1;
}

.projectBehavior {
    z-index: 1;
}
