.skillsContainer {
    font-family: sans-serif;
    color: white;
    height: fit-content;
}

.title {
    display: flex;
    justify-content: center;
    padding: .5em;
    margin-top: 4em;
}

.skillsHead {
    border-bottom: 1px solid white;
    display: inline-block;
    font-size: 1.3rem;
}

.skills {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    width: 50%;
    gap: 1em;
    row-gap: 1em;
    margin: 0 auto 0 auto;
    justify-items: center;
}

.techs {
    box-sizing: border-box;
    border-radius: 1em;
    border: .25px solid #c7d2fe;
    width: 7rem;
    height: 6rem;
    background-color: rgb(30 27 75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 700;
    transition: all .25s ease-in-out;
}

.techs:hover {
    cursor: pointer;
    background-color: rgb(30 27 90);
    transform: scale(1.05);
}

.techs>div {    
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
}

.logo {
    height: 2.5rem;
    padding: 1em;
}
